<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>

<body class="bg-light">

<div th:replace="fragments.html :: main-nav"></div>

<div class="container">
    <div class="py-5 text-center">
        <h2>노래 가사로 검색 결과</h2>
    </div>
    <div class="row justify-content-center pt-3">
        <div class="col-sm-8">
            <div class="row">
                <div class="col-md-4" th:each="music: ${musicList}">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <a th:href="@{'/music/detail/'+${music.id}}"><h5 class="card-title context bookName" th:text="${music.name}" th:id="${music.name}"></h5></a>
                            <p class="card-text context">
                                <span th:each="genre: ${music.genre}" class="font-weight-light text-monospace badge badge-primary mr-3">
                                    <a th:href="@{'/book/category/' + ${music.genre}}" class="text-decoration-none text-white">
                                        <i class="fas fa-th-list"></i> <span th:text="${genre}" class="text-white">City</span>
                                    </a>
                                </span>
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">
                                    <i class="fa fa-user-circle"></i>
                                    <span th:text="${music.artist}"></span>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<footer th:replace="fragments.html :: footer"></footer>
<script th:replace="fragments.html :: form-validation"></script>
<script th:replace="music-fragments.html :: favorMusic-event"></script>
</body>
</html>